/*------------------------------------------------------------------
[0. General Body]
-------------------------------------------------------------------*/
body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}


.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.borderBtn, .contactform button {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 18px 50px;
	display: inline-block;
	transition: all 0.3s ease-in;
	border-radius: 3px;
}

body { color: #363b3f; background: #f7f8f8; }

.section { padding: 30px 0 50px 0px; }
.section h1, .section h2, .section h3, .section h4 { font-family: "Lato", sans-serif; font-weight: 700; color: #d82c2e; }
.section p { font-family: "Lato", sans-serif; font-weight: 400; font-size: 15px; line-height: 24px; }
.section .heading { text-align: center; padding-bottom: 40px; }
.section .profilePic { text-align: center; margin: 0 auto; float: none; }
.section .divider { width: 100px; height: 1px; background: #d82c2e; margin: 0 auto; }

section.colored h1, section.colored h2, section.colored h3, section.colored h4, section.colored p { color: white; }

.btn, .filter a { font-family: "Lato", sans-serif; font-weight: 400; font-size: 14px; text-decoration: none; background: white; color: #b6b7b7; border: 1px solid #b6b7b7; padding: 18px; -webkit-transition: all 0.3s ease-in, 0s; -moz-transition: all 0.3s ease-in, 0s; -o-transition: all 0.3s ease-in, 0s; -ms-transition: all 0.3s ease-in, 0s; transition: all 0.3s ease-in, 0s; }
.btn:hover, .filter a:hover, .btn:focus, .filter a:focus { background-color: #d82c2e; border-color: #d82c2e; color: white; }

.borderBtn, .contactform button { font-family: "Lato", sans-serif; font-weight: 700; font-size: 14px; text-decoration: none; color: white; border: 1px solid white; padding: 18px 50px 18px 50px; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.3s ease-in, 0s; -moz-transition: all 0.3s ease-in, 0s; -o-transition: all 0.3s ease-in, 0s; -ms-transition: all 0.3s ease-in, 0s; transition: all 0.3s ease-in, 0s; }
.borderBtn:hover, .contactform button:hover, .borderBtn:focus, .contactform button:focus { background-color: white; color: #d82c2e; text-decoration: none; }

section .centered { margin: 0 auto; float: none; }

.hidethis { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")"; filter: alpha(opacity=0); opacity: 0; }

/*----------------------------------------------------------------
[1.welcome]
-----------------------------------------------------------------*/



.aboutMe:hover {
	background-color: white;
	color: red;
	text-decoration: none;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}
.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}



.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

/*------------------------------------------------------------------
[3. About]
-------------------------------------------------------------------*/
.hero { background: #d82c2e; color: white; }
.hero .borderBtn, .hero .contactform button, .contactform .hero button { margin-top: 20px; }
.hero h3 { color: black !important; }

.firstSec { padding-top: 30px; }

.firstSec.fixed { padding-top: 80px; }

.services .services-inner { margin-top: 20px; -webkit-transition: all 0.3s ease-in, 0s; -moz-transition: all 0.3s ease-in, 0s; -o-transition: all 0.3s ease-in, 0s; -ms-transition: all 0.3s ease-in, 0s; transition: all 0.3s ease-in, 0s; }

.service { border: 1px solid #e3e5e5; padding-top: 50px; padding-bottom: 50px; text-align: center; color: #d82c2e; margin-left: -1px; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
.service h3 { color: black; -webkit-transition: all 0.3s ease-in, 0s; -moz-transition: all 0.3s ease-in, 0s; -o-transition: all 0.3s ease-in, 0s; -ms-transition: all 0.3s ease-in, 0s; transition: all 0.3s ease-in, 0s; }
.service i { width: 51px; height: 45px; margin: 0 auto; display: block; background: url(../images/icons.png) no-repeat; -webkit-transition: all 0.3s ease-in, 0s; -moz-transition: all 0.3s ease-in, 0s; -o-transition: all 0.3s ease-in, 0s; -ms-transition: all 0.3s ease-in, 0s; transition: all 0.3s ease-in, 0s; }
.service .heart { background-position: left top; }
.service .bulp { background-position: -51px top; }
.service .graph { background-position: -102px top; }
.service .coding { background-position: -152px top; }
.service .globe { background-position: -204px top; }
.service .music { background-position: -255px top; }
.service .pencil { background-position: -306px top; }
.service .camera { background-position: -357px top; }
.service .vcamera { background-position: -408px top; }
.service .cloud { background-position: -459px top; }
.service:hover, .service:focus { background-color: #d82c2e; border-color: #d82c2e; color: white; }
.service:hover h3, .service:focus h3 { color: white; }
.service:hover .heart, .service:focus .heart { background-position: left bottom; }
.service:hover .bulp, .service:focus .bulp { background-position: -51px bottom; }
.service:hover .graph, .service:focus .graph { background-position: -103px bottom; }
.service:hover .coding, .service:focus .coding { background-position: -152px bottom; }
.service:hover .globe, .service:focus .globe { background-position: -204px bottom; }
.service:hover .music, .service:focus .music { background-position: -255px bottom; }
.service:hover .pencil, .service:focus .pencil { background-position: -306px bottom; }
.service:hover .camera, .service:focus .camera { background-position: -357px bottom; }
.service:hover .vcamera, .service:focus .vcamera { background-position: -408px bottom; }
.service:hover .cloud, .service:focus .cloud { background-position: -459px bottom; }


/* ----------------- Skills section ------------------------ */

.skillsSection,
.contactSection {
	background-color: #e74c3c;
	color: #fff;
}
.skill {
	text-align: center;
	margin-left: 10px;
}
.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #000;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.squareItem {
	margin-top: 30px;
	position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}
.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}
 
 .squareInnerContainer:before {
 	right: 0px;
 }

 .squareInnerContainer:after {
 	left: 0px;
 }

 .squareContent h2 {
 	font-size: 56px;
 	margin-bottom: 10px;
 	font-weight: 400;
 	color: #e74c3c;
 }

 .squareContent h3 {
 	font-size: 13px;
 	font-weight: 600;
 	margin: 0;
 }

 .squareIcon {
 	position: absolute;
 	left: 50%;
 	top: -30px;
 	width: 40%;
 	height: 60px;
 	font-size: 45px;
 	margin-left: -20%;
 	color: #444;
 }

 .contactButton {
 	color: #fff;
 	padding: 15px 20px;
 	display: inline-block;
 	margin-top: 20px;
 	border: 1px solid #fff;
 	border-radius: 2px;
 }

 .contactButton:hover {
 	text-decoration: none;
 	color: #e74c3c;
 	background-color: #fff;
 }

 .filter a {
 	color: #bdc3c7;
 	border: 1px solid #bdc3c7;
 	padding: 10px 18px;
 	display: block;
 }

 .filter li {
 	display: inline-block;
 	padding: 5px;
 }

 .filter .current {
 	background-color: #e74c3c;
 	border-color: #e74c3c;
 	color: #fff;
 }

 .filter {
 	text-align: center;
 	width: 100%;
 }

 .section .heading {
 	text-align: center;
 	padding-bottom: 40px;
 	width: 100%;
 }

 .items li {
 	display: inline-block;
 	padding: 5px;
 }
 .itemsContainer {
 	width: 100%;
 }

 .items li img {
 	width: 100%;
 	-webkit-transition: all 0.2s linear, 1s;
 	-moz-transition: all 0.2s linear, 1s;
 	-o-transition: all 0.2s linear, 1s;
 	-ms-transition: all 0.2s linear, 1s;
 	-transition: all 0.2s linear, 1s;
 }
 .items .item {
 	position: relative;
 	display: block;
 	overflow: hidden;
 } 

 .items .icons {
 	position: absolute;
 	width: 90px;
 	height: 40px;
 	left: 50%;
 	top: 50%;
 	margin: -20px auto 0 -47px;
 	text-align: center;
 	z-index: 3;
 }

  .items .icons i{
 	color: #fff;
 	font-size: 20px;
 	margin-top: 9px;
 }
 .items a {
 	width: 40px;
 	height: 40px;
 	background-color: #e74c3c;
 	position: relative;
 	display: inline-block;

 	-webkit-transition: all 0.2s linear, 0.2s;
 	-moz-transition: all 0.2s linear, 0.2s;
 	-o-transition: all 0.2s linear, 0.2s;
 	-ms-transition: all 0.2s linear, 0.2s;
 	-transition: all 0.2s linear, 0.2s;
 }

 .items .imageOverlay {
 	width: 100%;
 	height: 100%;
 	background-color: rgba(0,0,0, 0.5);
 	position: absolute;
 	left: 0px;
 	top: 0px;
 	opacity: 0;

 	-webkit-transition: all 0.2s linear, 1s;
 	-moz-transition: all 0.2s linear, 1s;
 	-o-transition: all 0.2s linear, 1s;
 	-ms-transition: all 0.2s linear, 1s;
 	-transition: all 0.2s linear, 1s;
 }

 .items .item:hover .imageOverlay {
 	opacity: 1;
 }

 .items .openButton {
 	float: left;
 	left: -200px;
 }

 .items .projectLink {
 	float: right;
 	right: -200px;
 }

 .items .item:hover .openButton {
 	left: 0px;
 }

 .items .item:hover .projectLink {
 	right: 0px;
 }

 .items .item:hover img {
 	-webkit-transform: scale(1.05, 1.05);
 	-moz-transform: scale(1.05, 1.05);
 	-o-transform: scale(1.05, 1.05);
 	-ms-transform: scale(1.05, 1.05);
 	-transform: scale(1.05, 1.05);
 }

 .items {
 	padding: 0;
 }

 .copyrightSection {
 	background-color: #000;
 	color: #fff;
 	padding: 30px 5px;
 }

  .copyrightSection p{
 	padding: 0;
 	text-align: center;
 }

 #navigation {
 	background-color: #e74c3c;
 	padding: 20px 10px;
 	z-index: 100;
 	width: 100%;
 }

 #navigation li {
 	padding: 0 10px;
 }

 #navigation li a {
 	color: #fff;
 }

 .navbar-brand, 
 .navbar-brand:hover  {

 	color:#fff;
 }

 .navbar-toggler-icon {
 	background: url(../img/icons/menu.png);
 	background-size: 100%;
 }

 .fixedNav #navigation {
 	position: fixed;
 	top: 0;
 }

 .loader {
 	width: 100%;
 	height: 100%;
 	background-color: #fff;
 	position: fixed;
 	top: 0px;
 	left: 0px;
 	z-index: 1000;
 }

 .loader .inner {
 	width: 100%;
 	height: 100%;
 	background: url(../img/loader.gif) center center no-repeat;
 }

 /*------------------------------------------------------------------
[8. Footer]
-------------------------------------------------------------------*/
footer { background: #363b3f; }
footer p { font-size: 16px; color: white; text-align: center; }
footer ul { width: 100%; text-align: center; margin-top: 20px; }
footer li { display: inline-block; margin: 0 4px; }
footer li a { display: block; text-decoration: none; border-bottom: none; padding: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
footer .facebook { background: url(../images/facebook.png) center no-repeat #444749; }
footer .facebook:hover { background-color: #4265b9; }
footer .twitter { background: url(../images/twitter.png) center no-repeat #444749; }
footer .twitter:hover { background-color: #9ae4e8; }
footer .google { background: url(../images/google.png) center no-repeat #444749; }
footer .google:hover { background-color: #d62408; }
footer .youtube { background: url(../images/youtube.png) center no-repeat #444749; }
footer .youtube:hover { background-color: #df3333; }
footer .flickr { background: url(../images/flickr.png) center no-repeat #444749; }
footer .flickr:hover { background-color: #E2408F; }
footer .dribbble { background: url(../images/dribbble.png) center no-repeat #444749; }
footer .dribbble:hover { background-color: #e94c89; }
footer .behance { background: url(../images/behance.png) center no-repeat #444749; }
footer .behance:hover { background-color: #3fbff0; }
footer .instagram { background: url(../images/instagram.png) center no-repeat #444749; }
footer .instagram:hover { background-color: #956751; }
footer .vimeo { background: url(../images/vimeo.png) center no-repeat #444749; }
footer .vimeo:hover { background-color: #87d2e0; }
footer .tumblr { background: url(../images/tumblr.png) center no-repeat #444749; }
footer .tumblr:hover { background-color: #4d7Da1; }
footer .linkedin { background: url(../images/linkedin.png) center no-repeat #444749; }
footer .linkedin:hover { background-color: #0073b2; }

.social {
	 padding: 25px 0 25px 0px; 
}